[submodule "Hardware"]
	path = Hardware
	url = https://github.com/Ultrawipf/OpenFFBoard-hardware.git
[submodule "Configurator"]
	path = Configurator
	url = https://github.com/Ultrawipf/OpenFFBoard-configurator
