[submodule "Configurator"]
	path = Configurator
	url = https://github.com/Ultrawipf/OpenFFBoard-configurator.git
	branch = master
[submodule "Hardware"]
	path = Hardware
	url = https://github.com/Ultrawipf/OpenFFBoard-hardware.git
	branch = master
